@import '_colors';

$primary-color: #7777eb;
$primary-color-light: #f1f1fd;
$seconday-color: #4a4a4a;
$seconday-color-dark: $white;
$tertiary-color: $medium-light-gray;
$tertiary-color-dark: $light-black;
$background-primary-light: $white;
$background-primary-dark: #2e2f30;
$background-secondary-light: #f8f8f8;
$background-secondary-dark: #222324;
$background-tertiary-light: #222324;
$background-tertiary-dark: #2e2f30;
$background-input-light: #2e2f30;
$background-input-dark: #222324;
$background-footer-light: #2e2f30;
$background-footer-dark: #222324;

$active-anchor: $primary-color;
$inactive-anchor: $medium-light-gray;
$inactive-anchor-dark: $white;

$timeline-line-light: #f1f1fd;
$timeline-line-dark: #222324;

:root {
  --primary-color: #{$primary-color};
  --primary-color-light: #{$primary-color-light};
  --secondary-color: #{$seconday-color};
  --tertiary-color: #{$tertiary-color};
  --background-primary: #{$background-primary-light};
  --background-secondary: #{$background-secondary-light};
  --background-tertiary: #{$background-tertiary-light};
  --active-anchor: #{$active-anchor};
  --inactive-anchor: #{$inactive-anchor};
  --circular-progress-primary: #{$primary-color};
  --circular-progress-secondary: #{$background-primary-dark};
  --background-input: #{$background-input-light};
  --background-footer: #{$background-footer-light};
  --timeline-line-color: #{$timeline-line-light};
}

[data-theme='dark'] {
  --background-primary: #{$background-primary-dark};
  --background-secondary: #{$background-secondary-dark};
  --background-tertiary: #{$background-tertiary-dark};
  --secondary-color: #{$seconday-color-dark};
  --tertiary-color: #{$tertiary-color-dark};
  --inactive-anchor: #{$inactive-anchor-dark};
  --background-input: #{$background-input-dark};
  --background-footer: #{$background-footer-dark};
  --timeline-line-color: #{$timeline-line-dark};
}
