@import '_colors';

$primary-color: #7777eb;
$primary-color-light: #f1f1fd;
$seconday-color: $black;
$tertiary-color: $light-black;
$background-dark: #2e2f30;
$background-light: $white;

$active-anchor: $primary-color;
$inactive-anchor: $medium-light-gray;
$inactive-anchor-dark: $white;

:root {
  --primary-color: #{$primary-color};
  --primary-color-light: #{$primary-color-light};
  --secondary-color: #{$seconday-color};
  --tertiary-color: #{$tertiary-color};
  --background: #{$background-light};
  --active-anchor: #{$active-anchor};
  --inactive-anchor: #{$inactive-anchor};
}

[data-theme='dark'] {
  --background: #{$background-dark};
  --secondary-color: #{$white};
  --inactive-anchor: #{$inactive-anchor-dark};
}
