@include keyframes('flipInX') {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.alert {
  animation: flipInX 0.5s ease-in;
}

.contact-me {
  background-color: var(--background-tertiary);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0px;

  .profile-picture {
    height: 260px;
    width: 260px;

    border-radius: 100%;
  }

  .social-links {
    svg {
      path {
        fill: white;
      }
    }

    li:nth-child(2) {
      padding: 0 3em;
    }
  }

  .contact-form {
    margin-left: 7em;

    .form-header {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: $white;
    }

    .form-control {
      border-radius: 5px;
      width: 100%;
      background-color: var(--background-input);
      border: none;
      padding: 12px;
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      text-align: left;
      color: $light-black;
    }

    button {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 2px;
      color: $white;
      background-color: $primary-color;
      border: none;
    }
  }

  .spinner-border {
    width: 1rem;
    height: 1rem;
    border: 0.1em solid currentColor;
    border-right-color: transparent;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  @media only screen and (max-width : 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
    &>.d-flex{
      flex-direction: column !important;
    }
    .contact-form {
      margin-top: 50px;
      margin-left: 0em;
      .form-header {
        text-transform: uppercase;
      }
    }
  }
}

.inline-form{
  &>div:last-child{
    margin-top: 1rem;
  }
  @media only screen and (min-width: 767px) {
    &>div:first-child{
      padding-right: .5rem;
    }
    &>div:last-child{
      margin-top: 0rem;
      padding-left: .5rem;
    }
  }
}
