.contact-me {
  background-color: var(--background-tertiary);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0px;

  & > div {
    margin: 0 auto;
  }

  .profile-picture {
    height: 260px;
    width: 260px;

    border-radius: 100%;
  }

  .social-links {
    svg {
      path {
        fill: white;
      }
    }

    li:nth-child(2) {
      padding: 0 3em;
    }
  }

  .contact-form {
    margin-left: 7em;

    .form-header {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: $white;
    }

    .form-control {
      border-radius: 5px;
      width: 100%;
      background-color: var(--background-input);
      border: none;
      padding: 12px;
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      text-align: left;
      color: $light-black;
    }

    button {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 2px;
      color: $white;
      background-color: $primary-color;
      border: none;
    }
  }
}
