.side-nav {
  position: fixed;
  transform: translateY(50%);
  z-index: 1000;
}

[data-theme='dark'] {
  .side-nav {
    .contact-icons {
      path {
        fill: $white;
      }
    }
  }
}

.nav-link:hover {
  .contact-icons {
    path {
      fill: $primary-color !important;
    }
  }
}
