.testimonials {
  background-color: var(--background-secondary);
  padding-bottom: 125px;
  margin-bottom: 0;

  .slick-dots {
    display: flex !important;
    justify-content: center;
    position: relative;
    margin-top: 2em;
    list-style-type: none;

    li {
      margin: 0 0.5rem;
      width: max-content;
      height: max-content;
    }

    li button {
      display: block;
      width: 0.3rem;
      height: 0.3rem;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #7d7d7d;

      &::before {
        display: none;
      }
    }

    li.slick-active button {
      background-color: $primary-color;
      width: 30px;
      padding: 0px 15px;
      border-radius: 6px;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .carousel {
    padding: 0px 50px;
  }

  .testimonial-item {
    .profile {
      height: 77px;
      width: 77px;
      border-radius: 50%;
    }

    .name {
      margin-top: 0.75em;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: var(--secondary-color);
    }

    .title {
      margin-top: 0.25em;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: var(--tertiary-color);
    }

    .testimonial-content {
      max-width: 720px;
      margin-top: 3.5em;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: var(--secondary-color);
      text-align: center;
      position: relative;

      &::before {
        content: url('/icons/quote_open.svg');
        position: absolute;
        left: -16px;
        transform: translate(-100%, -100%);
      }

      &::after {
        content: url('/icons/quote_closed.svg');
        position: absolute;
        right: -16px;
        transform: translate(100%, 40%);
      }
    }

    .side-note {
      margin-top: 3.5em;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: var(--tertiary-color);
    }
  }
}
